body{
    width: 100vw;
    height: 100vh
}
div.topnav {
    color: black;
    background-color: cornflowerblue;
    padding: 10px;
    border: 5px solid black;
    position: fixed;
}

.navElement{
    margin: 19vmax;
}

html {
    background-color: darkcyan;
}

.active {
    color: darkgreen;
    font-weight: bold;
}

footer{
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.spotifyFooter{
    text-align: right;
}

.verticalCenter {
    margin: 0;
    position: static;
    top: 50%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
  }